{
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ],
    "power-assert",
    "flow"
  ],
  "plugins": [
    "transform-class-properties"
  ],
  "env": {
    "test": {
      "presets": [
        "env",
        "power-assert",
        "flow"
      ]
    }
  }
}
