{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false
      }
    ],
    "power-assert",
    "@babel/preset-flow"
  ],
  "plugins": [
    "@babel/transform-class-properties"
  ],
  "env": {
    "test": {
      "presets": [
        "@babel/preset-env",
        "power-assert",
        "@babel/preset-flow"
      ]
    }
  }
}
